.searchbar-div{
    display: flex;
    /* flex-direction: row; */
    /* width: 15em; */

}

.search-form{
    display: flex;
}

.searchbar-searchbutton{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-top: 1em; */
    width: 3em;
}


.search-bar{
    width: 20em;
    padding: .5em;
    /* margin-right: 1em; */
    border-radius: 5px;
    /* border: none; */
}

.queryParams{
    /* margin-right: 1em; */
    border-radius: 5px;
    /* border: none; */

}
