.createreview-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    height: 40px;
    width: 130px;
    margin-top: 30px;
    margin-left: 70px;
    /* position: absolute;
    left: 1500px; */
    color: white;
    border: none;
}

.submitreview-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-right: 20px; */
}

.discardreviewform-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
}

.newreview-form{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

.review-textarea{
    height: 8em;
}

.stars-div{
    display: flex;
    /* flex-direction: column; */
    gap: 1em;
}


.create-review-ta{
    display: flex;
    flex-direction: column;
}
