.createreview-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    height: 40px;
    width: 130px;
    margin-top: 30px;
    margin-left: 70px;
    /* position: absolute;
    left: 1500px; */
    color: white;
    border: none;
}

.submitreview-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}

.discardreviewform-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
}

.newreview-form{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.stars-label{
    padding-top: 20px;
    padding-right: 20px;
}

.review-textarea{
    margin-right: 20px;
}
