.editlocation-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    height: 30px;
    width: 130px;
    font-size: 14px;
    padding-top: 6px;
    color: white;
    border: none;
}

.confirmedit-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 10px;
    margin-left: 23px;
    height: 60px;
    width: 90px;
    margin-right: 20px;
}

.closeedit-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    border: none;
    color: white;
    height: 60px;
    width: 90px;
}

.editspot-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 1em;
}
