.item-image {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

img {
        /* float: left; */
        width:  290px;
        height: 260px;
        object-fit: cover;
        /*  */
        display: flex;
}

div {
    display: inline-block;
    padding: 10px;
    /* margin-left: 33px; */
    margin: auto;
    /* margin-right: 0; */
}

.topline-text {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* width: 200px; */
}

.bottomline-text {
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* .homepage {
    display: grid;
    padding: 20px;
} */

/* .inner-homepage {
    display: grid;
} */



a {
    color: rgb(2, 2, 2);
}
