.host-button {
    position: absolute;
    left: 1680px;
    top: 15px;
}

.newspot-form {
    height: 412px;
    width: 178px;
    background-color: rgb(12, 221, 12);
    position: absolute;
    top: 25%;
    right: 45%;
    box-shadow: 0 0 10px 10px rgb(112, 105, 105);
}

input, label {
    display:block;
}

input {
    border-radius: 30px;

  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0);
}

.discardlocation-button {
    position: absolute;
    left: 115px;
}
