.signup-popout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: .6em;
}


.signup-form-input{
    height: 1em;
    width: 20em;
    border-radius: .3em;
    padding: 1em;
}

.signup-form-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 5px;
    border-color: transparent;
    width: 8em;
    height: 3em;
    color: white;
}

.signup-popout-bannertext{
    font-size: 20px;
    font-weight: bold;
}

.corny-pr-line{
    font-size: 20px;
    font-weight: bold;
}
