.header-div {
    display: flex;
    gap: 35em;
    /* justify-content: ; */
    /* align-items: center; */
    /* position: sticky;
    top: 0; */
}


.abcd {
    display: flex;
    align-items: center;
    object-fit: contain;
    height: 60px;
}

/* .two-buttons{
    position: fixed;
    left: 1790px;
    top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(209, 201, 201);
    width: 50px;
    height: 55px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1600px;
    top: 60px;
    border-radius: 30px;
    box-shadow: 0 0 2px 2px rgb(209, 202, 202);
    background-color: white;
    width: 250px;
    height: 80px;
    padding-left: 15px;
}

li {
    list-style-type: none;
}

.random-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    background: white;
    border: none;
    margin-right: 1000px;
}

.fa-bars {
    height: 10px;
    position: absolute;
    right: 100px;
    margin-top: -25px;

}

.test-bars-div{
    display: flex;
}

.initial-login-button{
    background-color: transparent;
    border: none;
     position: relative;
     right: 20px;
     width: 50px;
     padding-bottom: 10px;
}

.initial-signup-button{
    background-color: transparent;
    border: none;
    position: relative;
    right: 35px;
    width: 80px;
}

.the-logout-button{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 70px;
    width: 100px;
}

.username-li{
    margin-left: 38px;
    margin-bottom: 3px;
}

.email-li{
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 10px;
} */
