.login-button {
    position: absolute;
    left: 1800px;
}

li {
    list-style-type: none;
}

.username-label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.password-label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.login-continue-button {
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 20px;
    border-color: transparent;
    width: 200px;
    height: 2em;
    /* margin-left: 35px; */
    color: white;
}

.goofy-welcome{
    /* margin-left: 90px; */
    padding-bottom: 30px;
    font-size: 20px;
}


.username-input {
    border: 1px solid;
    border-bottom-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    /* margin-left: 25px; */
}

.password-input {
    border: 1px solid;
    border-radius: 5px;
    /* -bottom: 1em; */
    height: 30px;
    width: 200px;
    /* display: flex; */
    /* margin-left: 25px; */
}

.login-popout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 450px;
}



.login-popout-bannertext{
    padding-bottom: 10px;
    font-size: 20px;
}

.another-demo-user{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    /* position: absolute;
    right: 165px; */
    border: none;
    /* top: 260px; */
    border-radius: 20px;
    color: white;
    height: 2em;
    width: 15em;

}

.demo-user-div{
    padding-top: 1em;
}

.login-continue-div{
    padding-top: 2em;
}


.invalid-cred{
    display: flex;
    justify-content: center;
}
