.login-button {
    position: absolute;
    left: 1800px;
}

li {
    list-style-type: none;
}

.username-label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.password-label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.login-continue-button {
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border-radius: 20px;
    border-color: transparent;
    width: 200px;
    height: 2em;
    color: white;
}

.another-demo-user{
    background: linear-gradient(90deg,#e41e4e,#d60565);
    border: none;
    border-radius: 20px;
    color: white;
    height: 2em;
    width: 15em;
}

.goofy-welcome{
    font-size: 20px;
}


.username-input {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding: .3em;
}

.password-input {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding: .3em;
}

.login-popout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}


.login-popout-bannertext{
    font-size: 20px;
}


.invalid-cred{
    display: flex;
    justify-content: center;
}
